@font-face {
	font-family: 'BebasNeue Light';
	src:url('BebasNeue Light.ttf') format('truetype');
}
@font-face {
	font-family: 'BebasNeue Regular';
	src:url('BebasNeue Regular.ttf') format('truetype');
}
body {
	background: #eef;
	font-size: 100%;
}
nav ul {
	float: right;
	list-style-type: none;
	padding: 0;
	margin: 0 30px 0 0;
}
nav ul li a {
	display: block;
	font-size: 1.875em;
	font-family: 'BebasNeue Light', Helvetica, Arial, sans-serif;
	text-decoration: none;
	text-align: right;
	color: #333;
}
h1 {
	margin: 20px 30px -10px 30px;
	padding: 0;
	font-size: 7.5em;
	font-family: 'BebasNeue Regular', Helvetica, Arial, sans-serif;
	color: #099;
	text-shadow: 2px 2px 0 #444;
}
h2 {
	margin: 32px 33px 30px 33px;
	padding: 0;
	font-size: 2.5em;
	font-family: 'BebasNeue Regular', Helvetica, Arial, sans-serif;
	color: #946;
	text-shadow: 1px 1px 0 #444;
}
h3 {
	margin: 0 0 0 34px;
	padding: 0;
	font-size: 1.875em;
	font-family: 'BebasNeue Regular', Helvetica, Arial, sans-serif;
	color: #333;
	line-height: 115%;
}
h4 {
	margin: 0 0 0 34px;
	padding: 0;
	font-size: 1.875em;
	font-family: 'BebasNeue Light', Helvetica, Arial, sans-serif;
	color: #333;
	line-height: 115%;
}
h4 span {
	padding-right: .35em;
}
p {
	margin-right: 36px;
	font-size: 1.25em;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	color: #222;
	max-width: 32em;
	line-height: 120%;
}
.gridone .left {
	float: left;
	width: 35%;
	text-align: right;
}
.gridone .left h3 {
	margin-top: .48em;
}
.gridone .left h3:first-of-type {
	margin-top: 0;
}
.gridone .left h3,h4 {
	padding-right: 1.75em;
}
.gridone .right {
	float: left;
	width: 65%;
	margin-top: -20px;
}
.gridone:after {
	content: "";
	display: table;
	clear: both;
}
.gridtwo .left {
	float: left;
	width: 35%;
	text-align: right;
}
.gridtwo .left h3,h4 {
	padding-right: 1.75em;
}
.gridtwo .right {
	float: left;
	width: 65%;
	margin-top: -20px;
}
.gridtwo:after {
	content: "";
	display: table;
	clear: both;
}
.gridthree .left {
	float: left;
	width: 58%;
	text-align: right;
	margin-bottom: 20px;
}
.gridthree .left h3,h4 {
	padding-right: 1.75em;
}
.gridthree .right {
	float: left;
	width: 42%;
}
.gridthree:after {
	content: "";
	display: table;
	clear: both;
}
@media handheld, screen and (max-width: 1050px) {
	body {
		width: 1050px;
	}
	nav ul {
		float: none;
		text-align: left;
	}
	nav ul li {
		display: inline-block;
		margin-left: 34px;
	}
	h1 {
		margin-top: 10px;
	}
}
@media handheld, screen and (max-width: 25em) {
	body {
		width: 100%;
	}
	nav ul {
		width: 100%;
		text-align: center;
	}
	nav ul li {
		margin: 10px;
	}
	h1 {
		font-size: 6em;
		margin-bottom: 20px;
	}
	h4 span {
		padding: 0;
	}
	.gridone .left {
		width: 100%;
		text-align: left;
	}
	.gridone .right {
		width: 0%;
		height: 0;
		font-size: 0;
	}
	.gridtwo .left {
		width: 100%;
		text-align: left;
	}
	.gridtwo .right {
		width: 0%;
		height: 0;
		font-size: 0;
	}
	.gridthree .left {
		width: 100%;
		text-align: left;
	}
	.gridthree .left h3:last-of-type {
		margin-top: .48em;
	}
	.gridthree .right {
		width: 0%;
		height: 0;
		font-size: 0;
	}
}
