@font-face {
	font-family: 'BebasNeue Regular';
	src:url('../bebas/BebasNeue Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'BebasNeue Bold';
	src:url('../bebas/BebasNeue Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'BebasNeue Light';
	src:url('../bebas/BebasNeue Light.ttf') format('truetype');
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 100%;
	background: #F3EFF0;
}
.typcn {
	font-family: 'typicons';
}
#home,#about,#contact,#footer {
	width: 100%;
	position: relative;
	margin: 0 auto;
	padding: 0;
}
#home {
	background: url(../images/background.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
	height: 900px;
}
#home h1,#home .typcn {
	width: 100%;
	position: absolute;
	text-align: center;
	color: #0383A7;
	text-shadow: 1px 2px 0 #282520;
}
#home h1 {
	top: -45px;
	font-size: 5.6em;
	line-height: 120%;
	font-family: 'BebasNeue Bold' Helvetica, Arial, sans-serif;
}
#home .typcn {
	top: 520px;
	font-size: 4.6em;
}
#about {
	background: #F3EFF0 50% 0 no-repeat fixed;
	background-size: cover;
	height: 550px;
}
#about .left {
	height: 600px;
	float: left;
}
#about .right {
	height: 600px;
	float: right;
}
#about h2,#about h3,#about p {
	width: 100%;
	position: relative;
	margin: 0 auto;
}
#about h2 {
	top: 0.6em;
	text-align: center;
	font-size: 4.2em;
	font-family: 'BebasNeue Regular' Helvetica, Arial, sans-serif;
	color: #B41547;
	text-shadow: 1px 1px 0 #282520;
}
#about h3,#about p {
	max-width: 60%;
	margin-left: 20%;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #282520;
}
#about h3 {
	top: 2.2em;
	font-size: 1.9em;
}
#about p {
	top: 4.0em;
	margin-bottom: .6em;
	font-size: 1.5em;
	line-height: 120%;
}
#about h3 a,#about p a {
	text-decoration: none;
	color: #0383A7;
}
#about nav ul {
	position: relative;
	top: 5.7em;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	list-style-type: none;
}
#about nav ul li {
	margin: 30px;
	padding: 0;
	display: inline-block;
}
#about nav ul li a {
	width: 4.0em;
	margin: 0;
	padding: .4em;
	display: block;
	text-align: center;
	font-size: 1.8em;
	font-family: 'BebasNeue Bold' Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #1DC4F3;
	background: #F3EFF0;
	border: 1px solid #1DC4F3;
	border-radius: 10px;
}
#about nav ul li a:hover {
	background: #1DC4F3;
	color: #F3EFF0;
	border: 1px solid #F3EFF0;
}
#contact {
	background: #B41547 50% 0 no-repeat fixed;
	background-size: cover;
	height: 400px;
	clear: both;
}
#contact img {
	width: 300px;
	float: left;
	margin: 50px;
	border-radius: 300px;
}
#contact h4,#contact .typcn {
	position: relative;
	color: #F3EFF0;
}
#contact h4 {
	top: 75px;
	font-size: 2.0em;
	font-family: 'BebasNeue Light' Helvetica, Arial, sans-serif;
	font-weight: normal;
}
#contact .typcn {
	width: 100%;
	top: 100px;
	margin: 0 auto;
	margin: 0 55px;
	text-align: center;
	font-size: 3.0em;
}
#contact .typcn:hover {
	color: #1DC4F3;
}
#footer {
	background: #0383A7 50% 0 no-repeat fixed;
	background-size: cover;
	height: 25px;
}
#footer p {
	margin: 0;
	padding-top: 7px;
	font-size: .94em;
	font-family: 'BebasNeue Light', Helvetica, Arial, sans-serif;
	color: #F3EFF0;
}
#footer p a {
	text-decoration: none;
	color: #F3EFF0;
}
#footer p span {
	margin-right: 5px;
}
#about h3 a:hover, #about p a:hover, #footer p a:hover {
	text-decoration: underline;
}
@media handheld, screen and (max-width: 50em) {
	body {
		font-size: 90%;
	}
}
@media handheld, screen and (max-width: 45em) {
	#home {
		background: #282520 50% 0 no-repeat fixed;
		height: 500px;
	}
	#home h1 {
		margin-top: 100px;
		font-size: 4.0em;
	}
	#about .left,#about .right {
		display: none;
	}
	#about h3,#about p {
		max-width: 90%;
		margin-left: 5%;

	}
	#contact img {
		width: 200px;
	}
	#contact .typcn {
		margin: 0;
		clear: both;
	}
}
@media handheld, screen and (max-width: 25em) {
	#home h1 {
		line-height: 100%;
	}
	#about {
		height: 750px;
	}
	#about nav ul li {
		margin: 10px;
	}
	#contact {
		height: 500px;
		text-align: center;
	}
	#contact img {
		margin: 20px;
		float: none;
	}
	#contact h4 {
		top: 0px;
	}
	#contact .typcn {
		top: 10px;
		margin: 0 5px;
	}
	#footer {
		display: none;
	}
}